@font-face {
    font-family: Cairo;
    src: url(Cairo-VariableFont_slnt\,wght.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 1872px;
    background-color: #000;
    color: #fff;
    font-family: Cairo;
    border: 1px solid red;
}

h1{ 
    font-size: 40px;
}

#weather {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

#weather div{
    flex: 0 1 auto;
    margin: 20px;
}

#currentWeather svg, #upcomingWeather svg{
    height: 80px;
    width: auto;
}

.weatherTextbox{
    margin: 10px 0 !important;
    font-size: 30px;
}

svg path {
    fill: #fff;
}